.card {
    --border-width: 1px;
    padding: 2rem;
    max-inline-size: 700px; 
    margin-inline: auto;    
    
    border-radius: 1rem;   
    position: relative;
    /* background: hsl(255, 44%, 7%, 0.5); */
    background: hsl(from var(--primary-300) h s l / 0.5);
    backdrop-filter: blur(12px);          
}

.card::before {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    border-radius: inherit;
    border: var(--border-width) solid transparent;
    background: linear-gradient(var(--primary-200), var(--primary-300)) border-box;
    mask: 
        linear-gradient(black, black) border-box,
        linear-gradient(black, black) padding-box;
    mask-composite: subtract;

}

.card-header {
    text-align: center;
    margin-bottom: 1rem;  
}   

