form {
    display: grid;
    gap: 1rem;
    @media(width > 500px) {
        grid-template-columns: repeat(2, 1fr);
    }
}

button {
    color: var(--white);
    background-color: var(--accent-100);
    border: none;
    border-radius: 6px;
    padding: 0.75em 1.5em;
    line-height: normal;
}   

button:hover {
    background-color: var(--accent-200);
}

label,
legend {
    display: inline-block;
    padding-bottom: .25rem;
}

fieldset {
    border: 0;

    display: grid;
    gap: inherit;
    grid-template-columns: inherit;
}

textarea {
    resize: block;
    box-sizing: content-box;
    height: 3lh;
}

.form-group {
    display: grid;        
}

input,
textarea,
.form-group:has([type="radio"], [type="checkbox"]:not([required])) {
    padding: 10px;
    color: #fff;
    background-color: var(--primary-400);
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    font-weight: 400;
    line-height: normal;

    &:focus-visible {
        border: none;
        outline: 1px solid var(--accent-100);
    }
}

.form-group:has([type="radio"], [type="checkbox"]:not([required])) {
    position: relative;

    /* Makes entire element clickable */
    label::after {
        content: '';
        position: absolute;
        inset: 0;
    }
}

.form-group:has([type="radio"], [type="checkbox"]) {       
    label {
        margin-top: 2px;
        font-size: 1rem;
        font-weight: 400;
        line-height: normal;
    }
}

[type="radio"],
[type="checkbox"] {
    width: .85rem;
}

.form-group:has([type="radio"], [type="checkbox"]) {
    display: flex;
    gap: 1ch;
}

.form-group:has([type="radio"]:checked, [type="checkbox"]:not([required]):checked) {
    color: var(--white);
    background-color: var(--accent-100);
    border-color: var(--accent-100);
}

input:hover,
textarea:hover,
.form-group:has([type="radio"]:hover, [type="checkbox"]:not([required]):hover) {
    color: var(--white);
    background-color: var(--accent-200);
    border-color: var(--accent-200);
}

input::placeholder,
textarea::placeholder {
    color: var(--primary-100);
}

.error-text {
    color: red;
}

.error-input { 
    border:  2px solid red !important;
    border-radius: 6px;
}