/* Reset default css to prevent formatting issues later */
@layer reset {
  * {
    margin: 0;
    padding: 0;
    font: inherit;
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

  html {
    /*color-scheme: dark light;*/
    scrollbar-gutter: stable;
  }

  body {    
    min-height: 100vh;
    min-block-size: 100svh;    
  } 

  header, 
  footer,
  main,
  section,
  article { 
    container-type: inline-size;
  }

  img, picture, svg, video {
    display: block;
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block: 0;
    text-wrap: balance;
  }

  p,
  li,
  figcaption {
    margin-block: 0;
    text-wrap: pretty;
    max-width: 65ch;
  }

  input,
  button,
  legend,
  textarea {
    font: inherit;
  }
}