h1, 
h2 {
  font-weight: 700;
  line-height: 1.2;
  font-style: normal;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

.card-header p {
    font-weight: 900;
    letter-spacing: 0.25rem;
    color: var(--accent-100);
}