/* For larger projects, I prefer to organize css into separate stylesheets, 
   i.e. reset.css, layout.css, typography.css, buttons.css.

/* Fonts */
@font-face {
  font-family: 'Source Sans Pro';
  src: url("./fonts/source-sans-pro-v9-latin-300.woff2");
}

/* Variables */
:root {
    --bg-body-blue: #0f3d70;    
    --bg-form-blue: #144881;
    --link-blue: #cce7ff;
    --text-blue: #0667ba;
    --off-white: #f0f8ff;
    --orange: #ed780f;
    --white: #fff;

    --ff-base: Source Sans Pro, Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* Reset default css to prevent formatting issues later */
@layer reset {
  * {
    margin: 0;
    padding: 0;
    font: inherit;
  }

  *, *::before, *::after {
    box-sizing: border-box;
  }

  html {
    /*color-scheme: dark light;*/
    scrollbar-gutter: stable;
  }

  body {
    padding: 1rem;
    accent-color: var(--bg-body-blue);
    color: var(--white);
    background-color: var(--bg-body-blue);
    font-family: var(--ff-base);
    letter-spacing: .09rem;
    line-height: 1.5;
    min-height: 100vh;
    min-block-size: 100svh;    
  } 

  header, 
  footer,
  main,
  section,
  article { 
    container-type: inline-size;
  }

  img, picture, svg, video {
    display: block;
    max-width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block: 0;
    text-wrap: balance;
  }

  p,
  li,
  figcaption {
    margin-block: 0;
    text-wrap: pretty;
    max-width: 65ch;
  }

  input,
  button,
  legend,
  textarea {
    font: inherit;
  }
}

h1, 
h2 {
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

hr {
    margin-top: .5rem;
    margin-bottom: 1rem;
  }

@layer layout {
    .span-all {
        grid-column: 1 / -1;
    }    
}

@layer form {
    .referral {
        padding: 2rem;
        background: var(--bg-form-blue);
        border-radius: 1.25rem;
        max-inline-size: 700px;
        margin-inline: auto;        
    }

    button {
        color: var(--white);
        font-size: 20px;
        font-weight: 600;
        background-color: var(--orange);
        border: 0;
        border-radius: 6px;
        padding: 0.75em 1.5em;
        line-height: normal;
    }

    form {
        display: grid;
        gap: 1rem;
        @media(width > 500px) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    label,
    legend {
        display: inline-block;
        font-size: 20px;
        font-weight: 600;
        padding-bottom: .25rem;
    }

    fieldset {
        padding: 0;
        border: 0;

        display: grid;
        gap: inherit;
        grid-template-columns: inherit;
    }

    textarea {
        resize: block;
        box-sizing: content-box;
        height: 3lh;
    }

    .form-group {
        display: grid;        
    }

    /* Add "required" asterisk to fieldset legends and input labels */
    fieldset:has([required]) legend,
    .form-group:has(:not([type="radio"])[required]) label {
        display: flex;
        gap: 1ch;

        &::after {
            content: "*";
            color: var(--dark-blue);
        }
    }

    input,
    textarea,
    .form-group:has([type="radio"], [type="checkbox"]:not([required])) {
        padding: 10px;
        color: var(--white);
        background-color: var(--bg-form-blue);
        border: 2px solid var(--white);
        border-radius: 6px;
        font-size: 1rem;
        font-weight: 400;
        line-height: normal;

        &:focus-visible {
            border: none;
            outline: 2px solid var(--orange);
        }
    }

    .form-group:has([type="radio"], [type="checkbox"]:not([required])) {
        position: relative;

        /* Makes entire element clickable */
        label::after {
            content: '';
            position: absolute;
            inset: 0;
        }
    }

    .form-group:has([type="radio"], [type="checkbox"]) {       
        label {
            margin-top: 2px;
            font-size: 1rem;
            font-weight: 400;
            line-height: normal;
        }
    }

    [type="radio"],
    [type="checkbox"] {
        width: .85rem;
    }

    .form-group:has([type="radio"], [type="checkbox"]) {
        display: flex;
        gap: 1ch;
    }

    .form-group:has([type="radio"]:checked, [type="checkbox"]:not([required]):checked) {
        color: var(--white);
        background-color: var(--orange);
        border-color: var(--orange);
    }

    input::placeholder,
    textarea::placeholder {
      color: var(--link-blue);
    }
}

